.panel-bar {
	margin-bottom: 30px;

	.menu {
		text-align: center;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: inline-block;
				margin: 0 0.5rem;
				font-weight: 600;

				a {
					color: rgb(42, 42, 42);
					position: relative;
					text-decoration: none;
					font-size: 18px;
					display: block;

					&.active,
					&:hover {
						&::before {
							content: "";
							position: absolute;
							bottom: -4px;
							left: 0;
							width: 100%;
							border-bottom: 4px solid green;
						}
					}
				}
			}
		}
	}

	.dots-main {
		.dot-all {
			display: flex;
			flex-direction: row;
			margin: 0;
			padding: 0 0 0 1rem;
			list-style: none;
			background-color: #fff;
			transform: translateY(10px);

			.dot {
				display: inline-block;
				margin-left: 12px;
				border: none;
				display: block;
				width: 13px;
				height: 13px;
				border-radius: 6px;
				padding: 0;
				outline: none;
				background-color: #e1e1e1;
				cursor: pointer;

				&:hover {
					background-color: green;
				}
			}

			.active {
				background-color: green;
			}
		}
	}
}

.product-box {
	background-color: #ffffff;
	border: 1px solid #e1e1e1;
	margin-bottom: 2rem;
	width: 300px;
	height: 300px;


	.photo {
		position: relative;
		padding: 80% 10px 0 10px;

		background: {
			color: #f4f5f7;
			size: contain;
			position: center;
			repeat: no-repeat;
		}

		overflow: hidden;
		background-size: 263px 261px;
		background-position: center;
	}

	.pic-1 {
		background-image: url("../images/chair-1.jpg");
	}

	.pic-2 {
		background-image: url("../images/chair-2.jpg");
	}

	.pic-3 {
		background-image: url("../images/chair-3.jpg");
	}

	.pic-4 {
		background-image: url("../images/chair-4.jpg");
	}

}